@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";


:root {}

;


/* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name */

.fraunces {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    font-variation-settings:
        "SOFT" 100,
        "WONK" 100;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



/* ---------- START CSS FOR PROJECTS PAGE ---------- */
@layer utilities {
    .animate-fade-in {
        animation: fadeIn 0.4s ease-out forwards;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Hide scrollbar but keep scrolling */
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* ---------- END CSS FOR PROJECTS PAGE ---------- */
